<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"  asp-controller="Home" asp-action="Index">EventGo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Мероприятия</a>
                        </li>
                        @if (User.IsInRole("organizer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Create">Создать мероприятие</a>
                            </li>
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Управление ролями</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-dark link-dark" asp-controller = "Account" asp-action="MyProfile">Мой профиль</a>
                    <form method="post" asp-action="Logout" asp-controller="Account">
                        <input type="submit" class="btn btn-outline-danger btn-sm" value="Выйти" />
                    </form>

                }
                else
                {
                    <a class="btn btn-outline-dark btn-sm ml-3" asp-action="Login" asp-controller="Account">Войти</a>
                    <a class="btn btn-outline-dark btn-sm ml-3" asp-action="Register" asp-controller="Account">Регистрация</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    @if(User.IsInRole("unconfirmed organizer"))
    {
        
       <footer class="border-top footer text-muted">
            <p class = "text-center text-warning m-0 p-0">
                    На данный момент Вы являетесь неподтвержденным организатором вам доступны все 
                    <br>функции пользователя за исключением организатора, потверждение занимает около 2-х дней!
            </p>
       </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
