@model List<User>
@{
    ViewData["Title"] = "Управление организаторами";
}
<h2>Список организаторов</h2>
<a asp-controller="Admin" asp-action="AllUnconfimedOrganizers">Добавить организатора</a>
<table class="table mt-2">
    <tr><th>Имя пользователя</th><th>Электронная почта</th><th>Кнопка изменения роли</th></tr>
    @foreach (var org in Model)
    {

        <tr>
            <td>@org.UserName</td>
            <td>
                @org.Email

            </td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@org.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Убрать с роли организатора
                    </button>
                </form>
            </td>

        </tr>
        <tr></tr>
    }
</table>