@{
    ViewData["Title"] = "Главная";
}
@model List<DisplayEvent>
<div class="text-center">
    <h3 class="h3" style="font-weight:400">Мероприятия</h3>
    @if (Model.Count == 0)
    {
        <p>Статьи отсутствуют</p>
    }
    else
    {
        <div class="row">
            @foreach (var s in Model)
            {
            <div class="card m-3" style="width: 18rem; border-width: 3px ">
                @if (s.Event.Image != null)
                {
                    <img src="/images/@s.Event.Image" height="200" class="card-img-top p-2">
                }
                else
                {
                    <img height="200" src="/images/DefaultEvent.jpeg" class="card-img-top p-2">
                }
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:400">@s.Event.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@s.User.Name</h6>

                    <p class="card-text">Осталось мест: @s.Event.NumberOfSeats</p>
                    <a asp-action="Read" asp-controller="Event" asp-route-id="@s.Event.Id" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
            }
        </div>
    }
</div>
